<h1>Listing projets</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projets.each do |projet| %>
  <tr>
    <td><%= projet.id %></td>
    <td><%= projet.nom %></td>
    <td><%= link_to 'Show', projet %></td>
    <td><%= link_to 'Edit', edit_projet_path(projet) %></td>
    <td><%= link_to 'Destroy', projet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Projet', new_projet_path %>
